#drupdown-playground-output .formatted-output {
  margin-top: 2em;
  border: 2px dashed gray;
  padding: 1em;
}

/* floating elements */
.drupdown-left {
  max-width: 50%;
  float: left;
  margin: 0em 1em 1em 0em;
}

.drupdown-right {
  max-width: 50%;
  float: right;
  margin: 0em 0em 1em 1em;
}

.drupdown-center {
  display: block;
  margin: 1em auto;
  text-align: center;
}

/* figure and caption */
.drupdown-caption {
  text-align: center;
}

ul.drupdown-group {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* table directions */
.drupdown-table-right {
  text-align: right;
}

.drupdown-table-left {
  text-align: left;
}

.drupdown-table-center {
  text-align: center;
}
