#drupdown-playground-output .formatted-output {
  margin-top: 2em;
  border: 2px dashed gray;
  padding: 1em;
}

/* floating elements */
.drupdown-left {
  max-width: 50%;
  float: left;
  margin: 0em 1em 1em 0em;
}

.drupdown-right {
  max-width: 50%;
  float: right;
  margin: 0em 0em 1em 1em;
}

.drupdown-center {
  display: block;
  margin: 1em auto;
  text-align: center;
}

/* figure and caption */
.drupdown-caption {
  text-align: center;
}

/* table directions */
.drupdown-table-right {
  text-align: right;
}

.drupdown-table-left {
  text-align: left;
}

.drupdown-table-center {
  text-align: center;
}

.drupdown-float-options {
  width: 240px;
  margin: 0px auto;
}

.drupdown-float-options .icon-float-left,
.drupdown-float-options .icon-float-right,
.drupdown-float-options .icon-float-center {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px auto;
  border: 1px solid black;
  text-indent: -999em;
  overflow: hidden;
}

.drupdown-float-options .icon-float-left {
  background: url(images/float_left.png);
}
.drupdown-float-options .icon-float-right {
  background: url(images/float_right.png);
}
.drupdown-float-options .icon-float-center {
  background: url(images/center.png);
}

.drupdown-float-options .column {
  width: 80px;
  float: left;
  text-align: center;
}

.drupdown-dialog input[type=text] {
  width: 100%;
}
.drupdown-dialog label {
  margin-top: 1em;
}

.drupdown-dialog .drupdown-resource input {
  width: 84%;
}
.drupdown-dialog .drupdown-resource button {
  padding: 0em;
}

.drupdown-dialog .drupdown-resource .ui-button-text {
  padding: 0em;
  padding-bottom: 1px;
}
