body ul.drupdown-picasa-album {
  margin: 0em;
  padding: 0em;
  display: block;
  width: 588px;
  margin: 0px auto;
  text-align: left;
}

body ul.drupdown-picasa-album li {
  margin: 2px;
  padding: 4px;
  display: inline-block;
  background: #000;
}

body ul.drupdown-picasa-album li a {
  display: table-cell;
  width: 72px;
  height: 72px;
  text-align: center;
  vertical-align: middle;
}

body ul.drupdown-picasa-album li a img {
  display: inline;
}
